*{
    padding: 0px;
    margin: 0px;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(42, 165, 140, 0.556);
    height: auto;
}